/* RESETS */

*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-family: Roboto, Arial;
    transition: .5s;
}

.themeContainer button{
    background: none;
}


.invisivle{
    display: none;
}

li{
    list-style: none;
}
 
body{
    width: 100vw;
    background: #202022;  
    overflow-x: hidden; 
}

/*  HEADER  */

.header{
    display: flex;
    height: 70px;
    border-bottom: 1px solid #878787;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

#logo2{
    display: none;
}

.header img{
    height: 40px;
}

.header div{
    margin: 0% 20px;
}

.formContainer{
    display: flex;
    position: relative;
}


#digitar{
    width: 500px;
    border-radius: 4px 0px 0px 4px;
    padding: 0px 10px;
    text-transform: uppercase;
    border: 1px solid darkgray;
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#buscar{
    height: 43px;
    width: 50px;
    position: absolute;
    
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    border: 1px solid darkgray;
    border-left: none;
}

.formContainer input, button{
    height: 40px;
    border: none;
}

.formContainer img{
    height: 25px;
}

.menuContainer{
    display: flex;
}

.menuContainer div{
    margin: 0 10px;
}

.menuContainer img{
    height: 30px;
    margin-top: 6px;

}

.profile img{
    height: 40px;
    border-radius: 50%;
    margin-top: 0px;
}

img{
    cursor: pointer;
}


/* VIDEOS RECOMENDADOS  */

.videoContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}



.thumbnaill{
    position: relative;
    display: flex;
}

.thumbnaill::before{
    content: attr(date-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .80);
    color: white;
    right: 8px;
    bottom: 5px;
    border-radius: 3px;
    font: .9rem;
}

.thumbnaill img{
    width: 300px;
}

.videoBottomSection{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.channelIcon{
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #aaa;
}

.videoDetails{
    display: flex;
    flex-direction: column;
}

.videoTitle{
    font-size: 1.rem;
    font-weight: bold;
    margin-bottom: .3rem;
    text-decoration: none;
    color:white;
}

.videoChannelName{
    margin-bottom: .1rem;
    text-decoration: none;
    transition: 150ms;
    color: white;
}

.videoChannelName:hover{
    color: darkgray;
}

.videoChannelName, .videoMetadata{
    color: lightgray;
}


.videos{
    background-color: #202022;
}

/*  ESTRUTURA  */

.container{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 300px;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
    gap: 5rem;
}


.sideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerSideBar{
    max-width: 850px;
}

/*  SCROLLBAR  */

body::-webkit-scrollbar {
    width: 9px;                
  }
  
  
body::-webkit-scrollbar-track {
    background: #202022;       
}
  
body::-webkit-scrollbar-thumb {
    background-color: darkgray;    
    border-radius: 20px;      
    border: 3px solid 202022;  
}

/*  VIDEO  */

.videoPlayer{
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.options{
    justify-content: center;
    display: flex;
    align-items: center;
}

.options a{
    color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 5px 15px;
    transition: .6s;
}

.options a:hover{
    transform: scale(1.1);
}

#option1{
    background-color: #00bbc9;
}

#option2{
    background-color:#00747c;
}

.options a+a{
    margin-left: 20px;
}

.titleVideo{
    border-top: 1px solid darkgray;
    color: white;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    position: relative;
    max-width: 850px;
    padding-top: 30px;
}

#profileChannelName{
    cursor: pointer;
}

.views{
    color: lightgray;
    margin-top: 5px;
}

.reactButtons{
    display: flex;
    float: right;
}

.infoOptions img{
    height: 30px;
}

.infoOptions content{
    display: flex;
    margin: 5px;
    align-items: center;
    white-space: nowrap;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.infoOptions p{
    padding: 0px 5px;
    color: white;
    font-weight: bolder;
}

.profileVideo{
    margin-bottom: 80px;
}

.profileVideo a{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.profileVideo img{
    border-radius: 50%;
    height: 50px;
}

.profileInfo{
    padding-left: 10px;
}

.profileInfo p{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.profileInfo span{
    color: darkgray;
    font-size: 12px;
}


 /* THEME CHANGE */

 .whiteTheme{
    background-color: #fafafa;
    background: #fafafa;
    border-color:  black;
}

.whiteThemeTitle{
    color: black !important; 
}

.whiteThemeInfos{
    color: #6D6D6D;
}



/* MEDIAS */

@media (max-width: 1050px){

    .videoPlace{
        width: 150%;
    }

    #buscar{
        width: 50px;
    }
    
    #digitar{
        width: 300px;
    }

}

@media (max-width: 950px){


    .video{
        margin-bottom: 50vw;
    }
    .videoPlace{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .container{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        gap: 0;
    }

    .mainVideoBottom{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .profileInfo{
        text-align: left;
    }

    .videoInfoText{
        display: none;
    }

}

@media (max-width: 770px){

    .videoContainer{
        overflow-x: hidden;
    }

    #logo1{
        display: none;
    }
    #logo2{
        display: block;
    }

    #buscar{
        width: 30px;
    }
    
    #digitar{
        width: 150px;
    }

    #logoPc{
        display: none;
    }

    #logoMobile{
        display: block;
    }

}

@media (max-width: 480px){

    .videoPlace{
        width: 110%;
    }

    #buscar{
        width: 35px;
        top: 0px;
        border: none;
        background-color: transparent;
        
    }
    
    #digitar{
        width: 0px;
        opacity: 0;
        
    }

}

@media (max-width: 320px){

    #notificationIcon{
        display: none;
    }
}