/* RESETS */

*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-family: Roboto, Arial;
    transition: .5s;
}


.themeContainer button{
    background: none;
}


.invisivle{
    display: none;
}



li{
    list-style: none;
}

body{
    overflow-x: hidden;
}

/*  HEADER  */

body{
    background: #202022;
}

@keyframes fadeIn {
    from{ opacity: 0;
    }
    to{ opacity: 1; 
    }
}

.fadeIn{
    animation: fadeIn .5s linear;
}

/* HEADER */

.header{
    display: flex;
    height: 70px;
    border-bottom: 1px solid #878787;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.headerPc2{
    display: none;
}

#logoMobile{
    display: none;
}

.headerPc1{
    display: block;
}

.header img{
    height: 40px;
}

.header div{
    margin: 0% 20px;
}

.formContainer{
    display: flex;
    position: relative;
}



#buscar img{
    width: 20px;
    height: 20px;
}

#digitar{
    width: 500px;
    border-radius: 8px 0px 0px 8px;
    padding: 0px 10px;
    text-transform: uppercase;
    border: 1px solid darkgray;
    height: 42px;
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#buscar{
    height: 44px;
    width: 50px;
    position: absolute;
    
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    border: 1px solid darkgray;
    border-left: none;
}

.formContainer input, button{
    height: 40px;
    border: none;
}

.formContainer img{
    height: 25px;
}

.menuContainer{
    display: flex;
}

.menuContainer div{
    margin: 0 10px;
}

.menuContainer img{
    height: 30px;
    margin-top: 6px;

}

.profile img{
    height: 40px;
    border-radius: 50%;
    margin-top: 0px;
}

img{
    cursor: pointer;
}

/*  CATEGORIAS  */

.categories{
    max-width: 100vw;
    padding: 1rem 1rem;
    border-bottom: 1px solid #999;
    height: 30px;
    
    
}

.categorySection{
    justify-content: flex-start;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    height: 30px;
}

.categorySection::-webkit-scrollbar {
    width: 0px;     
    height: 0px;        
}
  
.categorySection::-webkit-scrollbar-track {
    
    background: transparent;       
}

.category{
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 900px;
    background-color: #e7e7e7;
    padding: 0px 20px;
    font-size: inherit;
    cursor: pointer;
    transition: 150ms;
    height: 30px;
}

.category:hover{
    background-color: #ddd;
}

.active{
    background-color: #606060;
    color: white;
    border-color: #eee;
}

.category:last-child{
    margin-right: 0px;
}

/*  VIDEOS  */

.videos{
    width: 1300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

.videoSection{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    
}

.videoContainer{
    width: 280px;
    margin: 20px;
    
}

.thumbnaill{
    position: relative;
    display: flex;
}

.thumbnaill::before{
    content: attr(date-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .80);
    color: white;
    right: 8px;
    bottom: 5px;
    border-radius: 3px;
    font: .9rem;
}

.thumbnaill img{
    width: 280px;
}

.videoBottomSection{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.channelIcon{
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #aaa;
}

.videoDetails{
    display: flex;
    flex-direction: column;
}

.videoTitle{
    font-size: 1.rem;
    font-weight: bold;
    margin-bottom: .3rem;
    text-decoration: none;
    color:white;
}

.videoChannelName{
    margin-bottom: .1rem;
    text-decoration: none;
    transition: 150ms;
    color: white;
}

.videoChannelName:hover{
    color: darkgray;
}

.videoChannelName, .videoMetadata{
    color: lightgray;
}


.videos{
    background-color: #202022;
}

/*  SCROLLBAR  */

body::-webkit-scrollbar {
    width: 9px;               
  }
  
  body::-webkit-scrollbar-track {
    background: black;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: darkgray;    
    border-radius: 20px;      
    border: 3px solid 202022;  
  }

::-webkit-scrollbar-corner{
      background-color: #202022;
      border-radius: 50%;
  }


  /* THEME CHANGE */

.whiteTheme{
    background-color: #fafafa;
    background: #fafafa;
}

.whiteThemeTitle{
    color: black;
}

.whiteThemeInfos{
    color: #6D6D6D;
}

/* MEDIAS */

@media (min-width: 1500px){

.categorySection{
    justify-content: center;}
}

@media (max-width: 1050px){

    #buscar{
        width: 50px;
    }
    
    #digitar{
        width: 300px;
    }


    .videos{
        width: 980px;
        margin-left: 10px;
    }

}

@media (max-width: 770px){

    #buscar{
        width: 30px;
    }
    
    #digitar{
        width: 150px;
    }


    .videos{
        width: 640px;
        margin-left: 10px;
    }

    #logoPc{
        display: none;
    }

    #logoMobile{
        display: block;
    }

    .categories{
        padding: 10px 0px;
    }

}


@media (max-width: 440px){

    #buscar{
        width: 35px;
        top: 0px;
        border: none;
        background-color: transparent;
        
    }
    
    #digitar{
        width: 0px;
        opacity: 0;
        
    }


    .videos{
        width: 70vw;
    }

    .categories{
        padding: 10px 0px;
    }

}

@media (max-width: 380px){

    .videos{
        width: 315px;
    }

    .categories{
        padding: 10px 0px;
    }

    #headerMenu{
        display: none;
    }

}

@media (max-width: 320px){

    .videos{
        width: 315px;
    }

    .categories{
        padding: 10px 0px;
    }

    #notificationIcon{
        display: none !important;
    }

    #headerMenu{
        display: none;
    }

    .profile{
        margin-right: 50vw;
        margin-left: 0px;
    }

}